@charset "utf-8";
main{
    width: 80%;
    max-width: 800px;
    margin: auto;
}

main, footer, header, article, section, div{
    border: 1px solid lightgray;
    padding: 5px;
}

table, td, th{
    border-collapse: collapse;
    border: 1px solid gray;
}

section{
    display: grid;
    grid-template-columns: 50px auto 50px;
}
img{
    width: 100%;
}
.hatter{
    background: lightblue;
}